
lab1/graphs/First_order_approximation_left_down.png
lab1/graphs/First_order_approximation_left_up.png
lab1/graphs/First_order_approximation_right_down.png
lab1/graphs/First_order_approximation_right_up.png
lab1/graphs/Second_order_approximation_1.png
lab1/graphs/Second_order_approximation_1Second_order_approximation_2First_order_approximation_right_up.png
lab1/graphs/Second_order_approximation_2.png
lab1/graphs/Second_order_approximation_friedr_closest.png
lab1/graphs/Third_order_approximation.png
lab1/graphs/Third_order_approximationSecond_order_approximation_1First_order_approximation_right_up.png
lab1/graphs/Third_order_approximationSecond_order_approximation_1Second_order_approximation_2First_order_approximation_right_up.png
lab1/graphs/Third_order_approximationSecond_order_approximation_2First_order_approximation_right_up.png
lab1/graphs_data/First_order_approximation_left_down(graph).csv
lab1/graphs_data/First_order_approximation_left_up(graph).csv
lab1/graphs_data/First_order_approximation_right_down(graph).csv
lab1/graphs_data/First_order_approximation_right_up(graph).csv
lab1/graphs_data/Second_order_approximation_1(graph).csv
lab1/graphs_data/Second_order_approximation_1Second_order_approximation_2First_order_approximation_right_up(graph).csv
lab1/graphs_data/Second_order_approximation_2(graph).csv
lab1/graphs_data/Second_order_approximation_friedr_closest(graph).csv
lab1/graphs_data/Third_order_approximation(graph).csv
lab1/graphs_data/Third_order_approximationSecond_order_approximation_1First_order_approximation_right_up(graph).csv
lab1/graphs_data/Third_order_approximationSecond_order_approximation_1Second_order_approximation_2First_order_approximation_right_up(graph).csv
lab1/graphs_data/Third_order_approximationSecond_order_approximation_2First_order_approximation_right_up(graph).csv
lab1/otchet/texput.log
lab1/otchet/main.out
lab1/otchet/main.log
lab1/otchet/main.aux
lab1/otchet/main.synctex.gz
