graphs/First_order_approximation_left_down.png
graphs/First_order_approximation_left_up.png
graphs/First_order_approximation_right_down.png
graphs/First_order_approximation_right_up.png
graphs/Second_order_approximation_1.png
graphs/Second_order_approximation_2.png
graphs/Second_order_approximation_friedr_closest.png
graphs/Third_order_approximation.png
graphs_data/First_order_approximation_left_down(graph).csv
graphs_data/First_order_approximation_left_up(graph).csv
graphs_data/First_order_approximation_right_down(graph).csv
graphs_data/First_order_approximation_right_up(graph).csv
graphs_data/Second_order_approximation_1(graph).csv
graphs_data/Second_order_approximation_2(graph).csv
graphs_data/Second_order_approximation_friedr_closest(graph).csv
graphs_data/Third_order_approximation(graph).csv
otchet/main.aux
otchet/main.log
otchet/main.synctex.gz
otchet/texput.log
